<!--
  flask的网页模板
  注册，登录，作品圈的html扩展了本文件
-->

<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='blogStyle.css') }}">

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<div class="UI-container">
  <div id="topBarWrapper">
      <div id="topBar">
          
              <a href="{{ url_for('index') }}">
                  <img src="../static/backgrounds/logo.png" id="logo" alt="logo"></img>
              </a>                     
              
          <ul id="shortcut">
              <li><a href="{{ url_for('upload.upload') }}" class="imgA">制作图片</a></li>
              <li><a href="{{ url_for('blog.index') }}" class="A">作品圈</a></li>
              {% if g.user %}
              <li><span> {{ g.user['username'] }}</span></li>
              <li><a href="{{ url_for('auth.logout') }}" class="A">登出</a></li>
              {% else %}
              <li><a href="{{ url_for('auth.login') }}" class="A">登录</a></li>
              <li><a href="{{ url_for('auth.register') }}" class="A">注册</a></li>
              {% endif %}
          </ul>
      </div>
  </div>
</div>